In [1]:
# 导入所需库
import urllib, requests, json, copy, time
import pandas as pd

In [2]:
# def get_cost_btc(money_to_use, market, buy_or_sell, output):
#     return btc & cost

In [3]:
def get_cost_btc(money_to_use, market, buy_or_sell, output):
    if market == 'okcoin':
        url = 'https://www.okcoin.cn/api/v1/depth.do?symbol=btc_cny'
        data0 = urllib.request.urlopen(url).read().decode()
        data1 = json.loads(data0)
        data_asks = pd.DataFrame(data1['asks'],columns=['price', 'quantity'])
        data_bids = pd.DataFrame(data1['bids'],columns=['price', 'quantity'])
        data_asks['amount'] = data_asks['price'] * data_asks['quantity']
        data_bids['amount'] = data_bids['price'] * data_bids['quantity']
        if buy_or_sell == 'buy':
            for i in range(1, len(data_bids)):
                if data_bids['amount'][0:i].sum() < money_to_use:
                    pass
                elif data_bids['amount'][0:i].sum() >= money_to_use:
                    btc_cost = money_to_use/\
                                (data_bids['quantity'][0:i-1].sum() +\
                                 (money_to_use - data_bids['amount'][0:i-1].sum())/data_bids['price'][i-1])
                    print('the price is ' + str(data_bids['price'][i-1]))
                    print('the cost is ' + str(btc_cost))
                    return btc_cost
                    break

In [4]:
%%time
for i in range(0,10):
    print(str(get_cost_btc(100000, 'okcoin', 'buy', 'z')))
    time.sleep(5)

the price is 8221.46
the cost is 8242.81261702
8242.81261702
the price is 8221.46
the cost is 8241.29411321
8241.29411321
the price is 8221.46
the cost is 8242.98643047
8242.98643047
the price is 8221.46
the cost is 8241.97747488
8241.97747488
the price is 8218.0
the cost is 8242.66785848
8242.66785848
the price is 8221.47
the cost is 8242.81838692
8242.81838692
the price is 8221.47
the cost is 8242.73772477
8242.73772477
the price is 8221.47
the cost is 8243.03089282
8243.03089282
the price is 8221.47
the cost is 8242.91394062
8242.91394062
the price is 8221.47
the cost is 8242.50043654
8242.50043654
CPU times: user 528 ms, sys: 12 ms, total: 540 ms
Wall time: 53 s

In [5]:
url = 'https://www.okcoin.cn/api/v1/depth.do?symbol=btc_cny'

In [6]:
data0 = urllib.request.urlopen(url).read().decode()

In [7]:
data1 = json.loads(data0)

In [8]:
import pandas as pd

In [9]:
data_buy  = pd.DataFrame(data1['bids'],columns=['price','amount'])
data_buy  = data_buy.sort_values(by=['price'],ascending=0)
data_sell = pd.DataFrame(data1['asks'],columns=['price','amount'])
data_sell = data_sell.sort_values(by=['price'],ascending=1)

In [10]:
data_buy.head()

     price  amount
0  8280.00   0.137
1  8265.36   0.050
2  8262.29   0.500
3  8257.00   0.004
4  8252.01   0.350

In [11]:
data_sell.head()

       price  amount
199  8284.00   5.471
198  8284.99   6.945
197  8285.00  27.627
196  8286.00   0.136
195  8288.00   0.012

In [12]:
data_sell.reindex(index=range(0,len(data_sell))).head()

     price  amount
0  8529.99   0.010
1  8529.00   0.500
2  8527.00   0.032
3  8522.00   3.558
4  8520.00   6.802