In [1]:
# 导入所需库
import urllib, requests, json, copy, time

In [2]:
# def get_cost_btc(money_to_use, market, buy_or_sell, output):
#     return btc & cost

In [3]:
def get_cost_btc(money_to_use, market, buy_or_sell, output):
    if market == 'okcoin':
        url = 'https://www.okcoin.cn/api/v1/depth.do?symbol=btc_cny'
        data0 = urllib.request.urlopen(url).read().decode()
        data1 = json.loads(data0)
        if buy_or_sell == 'buy':
            btc_to_get = 0
            for i in range(len(data1['asks'])-1,-1,-1):
                if money_to_use - data1['asks'][i][0] * data1['asks'][i][1] <= 0:
                    btc_cost = money_to_use/(btc_to_get + money_to_use/data1['asks'][i][0])
                    return btc_cost,money_to_use/btc_cost
                    break
                else:
                    money_to_use = money_to_use - data1['asks'][i][0] * data1['asks'][i][1]
                    btc_to_get = btc_to_get + data1['asks'][i][1]

In [4]:
for i in range(0,10):
    print(get_cost_btc(10000, 'okcoin', 'buy', 'z')[0])
    time.sleep(5)

7838.0
7838.0
7838.0
7838.0
7838.0
7838.0
7838.0
7838.0
7838.0
7838.0

In [5]:
url = 'https://www.okcoin.cn/api/v1/depth.do?symbol=btc_cny'

In [6]:
data0 = urllib.request.urlopen(url).read().decode()

In [7]:
data1 = json.loads(data0)

In [8]:
import pandas as pd

In [9]:
data_buy  = pd.DataFrame(data1['bids'],columns=['price','amount'])
data_buy  = data_buy.sort_values(by=['price'],ascending=0)
data_sell = pd.DataFrame(data1['asks'],columns=['price','amount'])
data_sell = data_sell.sort_values(by=['price'],ascending=1)

In [10]:
data_buy.head()

     price  amount
0  7827.11   4.990
1  7827.00   2.229
2  7826.00   0.557
3  7825.00   0.635
4  7824.43   1.120

In [11]:
data_sell.head()

       price  amount
199  7838.00  31.816
198  7838.99   6.887
197  7840.00   4.380
196  7844.99   0.778
195  7845.00   0.050

In [12]:
data_sell.reindex(index=range(0,len(data_sell))).head()

     price  amount
0  8276.00  10.000
1  8275.58   0.100
2  8274.67   0.403
3  8269.86   0.043
4  8260.00   1.000